@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-vindo ao PenaltyV2</h1>
    <p class="lead">Aposta resultados de futebol com os teus amigos e destroi a alma deles enquanto comes o teu jantar grátis!</p>
    <p><a href="~/Images/middlefinger.png" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

