@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-vindo ao PenaltyV2</h1>
    <p class="lead">Aposta resultados de futebol com os teus amigos e destroi a alma deles enquanto comes o teu jantar grátis!</p>
    <p><a href="~/Images/middlefinger.png" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>


<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <span class="glyphicon glyphicon-king"></span>
    </div>
</div>

<h1>O que é?</h1>
<p>
    Bem vindo ao Penalty, a liga das apostas desportivas. Todas as jornadas, os apostadores submetem as suas previsões pelo site; apostas correctas dão pontos que permitem subir na tabela classificativa do Penalty. No final da época, o apostador com mais pontos recebe uma <a href="http://corredoresanonimos.pt/wp-content/uploads/2015/06/mariana1.jpg">taça</a>.
</p>

<h1>Como jogar?</h1>
<p>
    Para jogar, basta aceder a <a href="https://www.penalty.duckdns.org/Home/UserBets">Apostas</a> e submeter as previsões. A aposta para cada jogo individual tem como data limite <strong>o início do jogo em causa</strong>.
</p>

<h2>Pontuação</h2>
<p>
    A pontuação é baseada nas cotações pré-encontro da <a href="https://www.10bet.com/sports/football/portugal-primeira-liga">10bet</a>.
</p>

<img class="img-fluid" src="https://i.imgur.com/rh7l3eu.png" />

<p>
    Estas cotações são exibidas no ecrã de apostas. Jogos que ainda não tenham cotações válidas são mostrados como "Casa", "X" e "Fora"; a pontuação a atribuir a estas apostas será determinada quando as cotações se encontrarem disponíveis.
</p>

<img class="img-fluid" src="https://i.imgur.com/us6buSp.png" />

<h3>Multiplicadores</h3>
<p>
    De forma a permitr uma liga mais competitiva até ao último jogo, existem multiplicadores que facilitam alcançar o pódio, mesmo com um mau início de época. É possível verificar o multiplicador activo no ecrã de apostas.
</p>

<img class="img-fluid" src="https://i.imgur.com/us6buSp.png" />

<h3>Modo secreto</h3>
<p>
    De forma a permitr uma liga mais emocionante até ao fim, nas últimas jornadas não é possível aceder à tabela classificativa nem às apostas feitas por cada apostador. É possível verificar que se trata de uma jornada em modo secreto através do ícone <img src="https://www.pngkit.com/png/full/361-3614380_airport-spy-spy-icon.png" width="35" height="34" /> no ecrã de apostas.
</p>

<img class="img-fluid" src="https://i.imgur.com/us6buSp.png" />

<h2>Integridade</h2>
<p>
    Para garantir a integridade do jogo é possível extrair relatórios detalhados de todas as apostas em jogo; isto garante que nenhuma aposta foi alterada, após o jogo ter tido início. Para aceder a esses relatórios basta clicar em cima do link do jogo no ecrã de <a href="https://www.penalty.duckdns.org/Home/Summary">Resumo</a>.
</p>

<img class="img-fluid" src="https://i.imgur.com/us6buSp.png" />