@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-vindo ao PenaltyV2</h1>
    <p class="lead">Aposta resultados de futebol com os teus amigos e destroi a alma deles enquanto comes o teu jantar grátis!</p>
    <p><a href="~/Images/middlefinger.png" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="toggle-radio" data-color="green">
  <input type="radio" name="rbResult" id="rbWin" value="W">
  <label for="rbWin">Win</label>
</div>

<div class="toggle-radio" data-color="yellow">
    <input type="radio" name="rbResult" id="rbDraw" value="D" checked>
    <label for="rbDraw">Draw</label>
</div>

<div class="toggle-radio" data-color="red">
    <input type="radio" name="rbResult" id="rbLose" value="L">
    <label for="rbLose">Lose</label>
</div>


<h1>
    O que é?
</h1>
<div>
    
        <p>
            Após o grande sucesso da primeira versão do penalty, eis que chega a 2º versão. Este é um site de previsões desportivas para a Primeira Liga Portuguesa.
        </p>
        <p>
            Todas as jornadas, cada apostador submete as suas previsões pelo site. Previsões acertadas dão pontos, que permitem subir na tabela classificativa do penalty.tk.
        </p>
        <p>
            No final da época, o apostador com mais pontos recebe uma taça.
        </p>

    
</div>
<h1>
    Como jogar?
</h1>
<div>
   
        <p>Para jogar, é só clicar em "Apostar" e submeter os resultados das jornadas que estejam disponíveis para aposta. Todas as jornadas estão disponiveis para apostar.</p>
        <p>Todas as apostas têm de ser submetidas até <b>6</b> Horas antes do <b>primeiro</b> jogo da jornada. Depois disso, a jornada fica bloqueada e não será possível submeter mais previsões para essa jornada.</p>
   
    <h3>Há 2 maneiras de se pontuar:</h3>
    
        <ul>
            <li><b>Resultado Correcto:</b> A primeira maneira de se pontuar é através do resultado correcto no final do jogo (vitória, derrota ou empate). Cada resultado certo vale 1 ponto.</li>
            <li>
                <b>Pontos Bónus:</b> Ao acertar no resultado correcto, fica-se habilitado a ganhar pontos bónus. O número de pontos é calculado através da <a href="https://en.wikipedia.org/wiki/Euclidean_distance">distância Euclideana</a>.

                <p><img class="img-responsive" src="~/Images/euclideanrules.gif" /></p>

                <p>Após a determinação da distância Euclideana, é consultada a seguinte tabela de modo a validar o número de pontos bónus atribuídos:</p>
                <table border="1">
                    <tr>
                        <td>Distância Euclideana (E)</td>
                        <td>Pontos bónus</td>
                    </tr>
                    <tr>
                        <td>E = 0</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>0 < E <= 1</td>
                        <td>0,75</td>
                    </tr>
                    <tr>
                        <td>1 < E <= 1,5</td>
                        <td>0,50</td>
                    </tr>
                    <tr>
                        <td>1,5 < E <= 2</td>
                        <td>0,25</td>
                    </tr>
                    <tr>
                        <td>E > 2</td>
                        <td>0</td>
                    </tr>
                </table>
            </li>

        </ul>
   
</div>
