@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de recuperação da password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor verifica o teu email para fazer reset à password.
</p>
<p>P.S.: Poderá estar na tua caixa de SPAM. </p>
