@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de alteração da password";
}

<h1>@ViewData["Title"]</h1>
<p>
    A tua password foi alterada. Por favor <a asp-page="./Login">clica aqui para entrar</a>.
</p>
